.field {
    display:flex;
    flex-direction: column;
}
.input-field.error {
    border: 1px solid red;
}
.input-field{
    border-radius: 10px;
    border: none;
}

.error {
    color: var(--red);
    font-size: .69em
}

::placeholder {
    color: var(--light-gray);
    opacity: 1;
}
.label-field {
    font-size: 0.8em;
    color:  #2E1F2B;
    display: inline-block;
    margin-bottom: 5px;
}

