.landing-container{
    /* background: url("../../assets/mergulho-500cidades-mobile.png") var(--brown) 43rem;
    background-size: cover;
    height: 200vh; */
}

.landing{
    display: flex;
    flex-wrap: wrap;
    background: url("../../assets/mergulho-500cidades-mobile.png") var(--brown) 43rem;
    background-size: cover;
    height: 200vh;
}

.landing-top{
    /* flex-grow: 1; */
    margin-top: 25px;
}

.landing-logo{
    width: 100%;
}

.logo-img{
    height: 22rem;
}

.landing-title{
    margin: -4.3rem 0 0 0;
    padding: 1.5rem;
    font-size: 20px;
}

.heading-primary{
    display: flex;
    flex-direction: column;
}
.heading-primary--white{
    color: var(--white);
}
.heading-primary--green{
    color: var(--green);
}

.btn--red{
    width:fit-content;
    background-color: var(--red);
    padding: 1rem;
    border: none;
    box-shadow: 0px 2.5px 0 var(--darker-red);
    border-radius: .3rem;
    color: var(--white);
}

.landing-bottom{
    /* flex-grow: 2; */
    color: var(--white);
    width: max-content;
}

.heading-secondary--landing-bottom{
    font-size: 48px;
    padding: 2rem;
    word-spacing: 2vw;
    /* margin-top: 7rem; */
    width: 360px;
}

.paragraph--landing-bottom{
    padding: 0 2rem;
    line-height: 1.6rem;
    word-spacing: 2vw;
}

.btn--blue{
    color: var(--white);
    background-color: var(--blue);
    box-shadow: 0px 2.5px 0 var(--darker-blue);
    border: none;
    padding: .5rem 1.5rem;
    border-radius: .3rem;
    margin: 2rem;
    font-size: 4vw;
}
.activist-map{
    min-height:100vh;
    margin-top: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.map-img{
    width: 70vw;
    max-width: 674px;
}
.steps{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-weight:700;
}
.steps-img{
    width: 140px;
    margin:1rem;
}
.about{
    background-color: var(--blue);
    color: var(--white);
    min-height: 100vh;
    padding: 5% 15%;
    height: max-content;
    display: flex;
    align-items: center;
}
.heading-secondary--about{
    font-size: 37px;
    margin-bottom: 2rem;
}
.paragraph--about{
    line-height: 1.6rem;
    word-spacing: 2vw;
    max-width: 355px;
}
.newsletter{
    background-color: var(--red);
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--white);
    align-items: center;
}
.newsletter-img{
    padding: 2rem;
    width: 85vw;
    max-width: 316px;
}
.newsletter-text{
    max-width: 393px;
    padding: 0 1rem;
}
.heading-terciary--newsletter{
    font-size: 6.5vw;
}
.newsletter-subscription{
    width: max-content;
    display: flex;
    margin-top: 3rem;
}
.newsletter-email{
    background:rgba(255, 255, 255, .3);
    font-weight: 700;
    color:var(--white);
    border: none;
    padding: .5rem;
    border-radius:.3rem 0 0 .3rem;
}
.newsletter-btn--blue{
    color: var(--white);
    background-color: var(--blue);
    box-shadow: none;
    border: none;
    padding: .1rem 1rem;
    border-radius: 0 .3rem .3rem 0;
    margin:0;
}
.footer{
    display: flex;
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    align-content: center;
    flex-wrap: wrap;
}
.org{
    /* flex-grow: 1; */
    flex: 50% 1;
    background-color: var(--eggplant);
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 2rem;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
    min-width: 345px;
    min-height: 14vh;
}
.org-logos{
    display: flex;
    justify-content: space-between;
    flex: 1;  
    margin: 0 .5rem
}
.more-about{
    /* flex-grow: 1; */
    background-color: var(--brown);
    text-align:left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    flex: 50% 1;
    min-width: 345px;
    min-height: 14vh;
    padding: 1rem 2rem;
}

.more-about-link{
    text-decoration:none;
    color:var(--white);
    
}
.more-about-link:hover{
    color:var(--white);
    text-decoration:underline;
}

@media (min-width: 420px){
    .more-about{
        flex-direction: row;
        align-items: center;
    }
    .heading-terciary--newsletter{
        font-size: 1.75rem;
    }
}

@media (min-width: 580px){
    .landing{
        height: 100vh;
        background-position: top;
    }

    .landing-bottom{
        width: min-content;
    }

    .heading-secondary--landing-bottom{
        width: 355px;
        font-size: 37px;
        word-spacing: unset;
    }
    .paragraph--landing-bottom{
        word-spacing: unset;
        width: 355px;
    }
    .steps{
        flex-direction: row;
    }
    .btn--blue{
        font-size: 1.4rem;
    }
}

@media (min-width:750px){
    .landing-container{
        /* background: url("../../assets/mergulho-500cidades-desktop.png") no-repeat 100% 100% var(--brown);
        max-width: 100vw;
        width: 100%;
        height: 100vh; */
    }
    .landing{
        background: url("../../assets/mergulho-500cidades-desktop.png") no-repeat 100% 100% var(--brown);
        max-width: 100vw;
        width: 100%;
        height: 100vh;
    }
}