.landing{
    display: flex;
    flex-wrap: wrap;
    background-image: url("../../assets/mergulho-500cidades-mobile.png");
    background-color: var(--brown);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: -43rem 0;
    height: 170vh;
}

.landing-top{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 25px;
}

.logo-img {
    max-width: 80%;
}

.landing-title{
    margin: -2.3rem 0 0 0;
    padding: 1.5rem;
    font-size: 20px;
}

.heading-primary{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}
.heading-primary--white{
    color: var(--white);
}
.heading-primary--green{
    color: var(--green);
}

.landing-top-links {
    display: flex;
    flex-direction: column;
}

.anchor-link {
    color: var(--white);
    padding: 0.8rem;
    font-size: 1rem;
    text-decoration:none;
}

.anchor-link:hover {
    color: var(--red);
    text-decoration: none;
}

.btn--red{
    width:fit-content;
    background-color: var(--red);
    padding: 1rem;
    border: none;
    box-shadow: 0px 2.5px 0 var(--darker-red);
    border-radius: .3rem;
    color: var(--white);
}

.landing-bottom{
    color: var(--white);
    font-stretch: normal;
    width: 100%;
}

.heading-secondary--landing-bottom {
    font-size: 47px;
    padding: 0 1rem 0 2rem;
    word-spacing: 2vw;
    margin-top: 7rem;
    width: 320px;
}

.paragraph--landing-bottom{
    padding: 0 2rem;
    line-height: 1.6rem;
    word-spacing: 2vw;
}

.btn--blue{
    color: var(--white);
    background-color: var(--blue);
    box-shadow: 0px 2.5px 0 var(--darker-blue);
    border: none;
    padding: .5rem 1.5rem;
    border-radius: .3rem;
    margin: 2rem;
    font-size: 4vw;
}
.activist-map{
    min-height:100vh;
    margin-top: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.map-img{
    width: 70vw;
    max-width: 674px;
}
.steps{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-weight:700;
}
.steps-img{
    width: 140px;
    margin:1rem;
}
.about{
    background-color: var(--blue);
    color: var(--white);
    min-height: 100vh;
    padding: 5% 15%;
    height: max-content;
    display: flex;
    align-items: center;
}
.heading-secondary--about{
    font-size: 37px;
    margin-bottom: 2rem;
}
.paragraph--about{
    line-height: 1.6rem;
    word-spacing: 2vw;
    max-width: 355px;
}
.newsletter{
    background-color: var(--red);
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--white);
    align-items: center;
}
.newsletter-img{
    padding: 2rem;
    width: 85vw;
    max-width: 316px;
}
.newsletter-text{
    max-width: 393px;
    padding: 0 1rem;
}
.heading-terciary--newsletter{
    font-size: 6.5vw;
}
.newsletter-subscription{
    width: max-content;
    display: flex;
    margin-top: 3rem;
}
.newsletter-email{
    background:rgba(255, 255, 255, .3);
    font-weight: 700;
    color:var(--white);
    border: none;
    padding: .5rem;
    border-radius:.3rem 0 0 .3rem;
}
.newsletter-btn--blue{
    color: var(--white);
    background-color: var(--blue);
    box-shadow: none;
    border: none;
    padding: .1rem 1rem;
    border-radius: 0 .3rem .3rem 0;
    margin:0;
}
.footer{
    display: flex;
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    align-content: center;
    flex-wrap: wrap;
}
.org{
    /* flex-grow: 1; */
    flex: 50% 1;
    background-color: var(--eggplant);
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 2rem;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
    min-width: 320px;
    min-height: 14vh;
}
.org-logos{
    display: flex;
    justify-content: space-between;
    flex: 1;  
    margin: 0 .5rem
}
.more-about{
    /* flex-grow: 1; */
    background-color: var(--brown);
    text-align:left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    flex: 50% 1;
    min-width: 320px;
    min-height: 14vh;
    padding: 1rem 2rem;
}

.more-about-link{
    text-decoration:none;
    color:var(--white);
    
}
.more-about-link:hover{
    color:var(--white);
    text-decoration:underline;
}

contentStyle {
  background: rgba(255,255,255,0);
  width: 80%;
  border: none;
}

@media (min-width: 360px){
    .more-about{
        flex-direction: row;
        align-items: center;
    }
    .heading-terciary--newsletter{
        font-size: 1.75rem;
    }
}
@media (min-width: 390px){
    .landing {
        height: 180vh;
    }    
}
@media (min-width: 420px){
    .landing {
        /* background-position: -60rem 0; */
        height: 200vh;
    }
    .more-about{
        flex-direction: row;
        align-items: center;
    }
    .heading-terciary--newsletter{
        font-size: 1.75rem;
    }
}


@media (min-width: 576px){
    .landing {
        height: 220vh;
    }
      .landing-top{
        margin-left: 2rem;
    }   
    .landing-bottom{
        align-self: center;
    }

    .heading-secondary--landing-bottom{
        width: 355px;
        font-size: 37px;
        word-spacing: unset;
    }
    .paragraph--landing-bottom{
        word-spacing: unset;
        width: 355px;
    }
    .steps{
        flex-direction: row;
    }
    .btn--blue{
        font-size: 1.4rem;
    }
}

@media (min-width: 768px){
 .landing{
        background-image: url(/static/media/mergulho-500cidades-desktop.a6bcae5d.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        justify-content: center;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        height: 170vh; 
    }
    .landing-top{
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        margin-top: 25px;
    }
    .logo-img {
        max-width: 80%;
    }
    .landing-title {
        margin: 12rem 5rem 0 -8rem;
        padding: 0;
    }
    .heading-primary{
        font-size: 2.5rem;
    }
    .landing-bottom {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        align-self: center;
    }
    .heading-secondary--landing-bottom {
        font-size: 3rem;
    }
    .paragraph--landing-bottom {
        font-size: 1rem;
    }
}

@media (min-width:992px){
    .logo-img {
        max-width: 80%;
    }
    .landing-title {
        margin: 12rem 10rem  0 -8rem;
        padding: 0;
    }
    .heading-primary{
        font-size: 2.5rem;
    }
    .landing-bottom {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-self: center;
    }
    .heading-secondary--landing-bottom {
        font-size: 48px;
    }
    .paragraph--landing-bottom {
        font-size: 1rem;
    }
}
