.burger-menu,
.burger-menu.open {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 10px;
  z-index: 59;
  background-color: transparent;
  padding: 10px;
  height: 2.7rem;
}

.burger-menu .bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: var(--brown);
  margin: 4px 0;
  transition: 0.4s;
}

.burger-menu.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
}

.burger-menu.open .bar2 {
  opacity: 0;
}

.burger-menu.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}

@media (min-width:992px){
  .burger-menu,
.burger-menu.open {
  display: none;
}
}