.register-cover{
    background: linear-gradient(
        to bottom, 
       var(--light-gray) 50%, 
       var(--gray) 100%
    );
    padding: 2rem;
    color: var(--off-white);
    font-weight: 700;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 4rem;
}

.register-form{
    display: flex;
    flex-direction: column;
    margin: auto 11vw;
}

.add-photo{
    background-color: var(--lighter-gray);
    border-radius: 100%;
    height: 15vh;
    width: 15vh;
    box-shadow: 0px 16px 19px -1px gray;
    margin: 5vw 1.5vw 0 8vw;
}

textarea {
    border-radius: .3rem;
    border:none;
    resize: none;
    background-color:var(--lighter-gray);
    padding: 1rem;
    width: 100%;
    margin-bottom: 2rem;
    height: 23vh;
}
.register-input{
    border-radius: .3rem;
    border:none;
    background-color: var(--lighter-gray);
    padding: .5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}
.register-input:not(:first-child){
   margin-right: 1rem;
}
.register-label{
    color: var(--lighter-gray);
}
.btn--transparent{
    color: var(--blue);
    background-color: transparent;
    border: 1px solid var(--blue);
    padding: .5rem 1.5rem;
    border-radius: .3rem;
}
.add-details{
    display:flex;
    flex-wrap: wrap;
}
.register-submit{
    text-align: center;
}