
.register-container{
    overflow-x: hidden;
}
.register-cover {
    color: var(--off-white);
    font-weight: 700;
    font-size: 24px;
}
.cover-wrapper{
    width: 100%;
    z-index: 0;
    padding: 1rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
}

.gradient{
    background: linear-gradient(to bottom, var(--light-gray) 50%, var(--gray) 100% ) !important;
}
.photo-gradient {
    background: rgba(0, 0, 0, .4);
}

.add-photo > .wrapper-input {
    width: 100px;
    height: 100px;
}
.cover-photo{
    z-index: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 4rem;
    position: relative;
    background-position: 50% 40%;
    background-repeat: no-repeat; 
    background-size: cover;
}
.cover-image {
    position: absolute;
    height: 30px;
    top: 10px;
    right: 10px;
    width: 30px;
}

.add-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lighter-gray);
    border-radius: 100%;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 16px 19px -1px grey;
    margin: 5vw 1.5vw 0 5vw;
}

.role, .personal-info{
    margin-bottom: 2rem;
  }

.register-text{
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

.register-edit-text{
    display: flex;
    width: -webkit-fill-available;
  }

.add-name{ 
    color: var(--white);
    font-size: 1.8rem;
    word-wrap: break-word;
    margin-right: 10px;
    line-height: 2;
    text-shadow: 2px 2px #333;
}
.icons-input{
   margin: 20px 5px;
}
.name-input{
    border: none;
    padding-bottom: 1.3vh;
    background-color: transparent;
    color: var(--white);
    max-width: 60vw;
}
.add-job{ 
    font-size  : 1.5rem;
}
.job-select{
    cursor: pointer;
    background-color: transparent;
    color:var(--white);
    text-shadow: 2px 2px #333;
    max-width: 200px;
    white-space: pre-wrap;
}
.job-option{
    color: var(--gray);
    background-color: var(--light-gray);
    content: '\25BE';
    pointer-events: none;
}
.error {
    font-size: 0.7em;
    font-weight: normal;
}

.error-register-name {
    position: absolute;
    top: 0;
}

/* .email {
    width: 80%;
}
.phone, .insta, .face, .birth-date, .sexual-orientation .gender .race .zipcode .district .country .state{
    width: 20%;
}

.portfolio .neiborhood{
    width: 60%;
} */


/* #email{
    width:66%;
}
#phone, #birth_date{
    width:34%;
}
#facebook, #instagram, #street{
    width:50%;
}
#site_address{
    width:66%;
}
#gender, #race, #sexual_orientation{
    width:33.3%;
}
#complement{
    width:29%;
}
#street{
    width: 39vw;
}
#zipcode{
    width: 20%;
}
#district, #district2{
    width:40%
} */
@media (min-width: 768px){
    .add-name{ 
        font-size  : 1.8rem;
    }
    .add-job{ 
        font-size  : 1.5rem;
    }
    .add-photo{
        margin: 5vw 1.5vw 0 8vw;
    }
}