/* :root{
    --blue: #4ACAC1;
    --darker-blue: #3FACA4;
    --red: #DF4545;
    --darker-red: #B42E2E;
    --white: #f0f0f5;
} */

.btn{
    cursor: pointer;
    font-weight: 700;
    transition: transform .3s ease;
}

.btn:hover{
    filter: brightness(0.9);
}

.btn:active{
    transform: translateY(1px);
    outline: none;
}
