/* :root{
    --blue: #4ACAC1;
    --darker-blue: #3FACA4;
    --red: #DF4545;
    --darker-red: #B42E2E;
    --white: #f0f0f5;
} */


.btn {
    display: inline-block;
    font-weight: 700;
    transition: transform .3s ease; 
    position: relative;
    border: none;
    outline: none;
    padding: 1rem;
    font-size: 1.4rem;
    min-width: 100px;
}


.btn:hover {
    filter: brightness(0.9);
    transition: all 0.1s ease-in;
}


.btn:active {
    transform: translateY(4px);
    border-bottom-width: 2px;
    box-shadow: none;
}
