.menu {
  width: 100%;
  display: block;
  text-align: center;
  padding: 0px;
}
.menu ul {
  position: relative;
  top: 0px;
  font-size: 24px;
  padding: 0px;
}
.menu li {
  list-style: outside none none;
  margin: 10px 0px;
  padding: 0;
  cursor: pointer;
}
.menu li:hover {
  color: var(--green);
}

@media (min-width:750px){
   .menu {
        display: none;
    } 
}