nav{
  background-color: var(--brown);
}

nav a {
  color: var(--white);
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Roboto Condensed', sans-serif;
}
.menu {
  width: 100%;
  display: block;
  text-align: center;
  padding: 0px;
}
.menu ul {
  position: relative;
  top: 0px;
  font-size: 24px;
  padding: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu li {
  list-style: outside none none;
  margin: 10px 0px;
  padding: 0;
  cursor: pointer;
}
.menu li:hover {
  color: var(--green);
}
.toggle-icon{
  cursor: pointer;
  width: 30px;
  height: 30px;
  left: 10px;
  top: 10px;
  position: absolute;
  z-index: 60;
}
@media (min-width:768px){
  .toggle-icon{
    display: none;
  }
}
