.profile {
    width: 50%;
    display: block;
    padding: 0px;
    border: 1px solid grey;
    z-index: 0;
    position: absolute;
    top: 86px;
    left: 15px;
    background: white;
    height: 100%;
}
.subtitle-profile{
    font-size: 18px;
    color: var(--brown); 
    margin-top: 3rem;
}
.header-profile {
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to bottom, var(--light-gray) 50%, var(--gray) 100% );
    padding: 24px;
    color: var(--white);
}

.image-profile {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.header-title {
    display: inline-block;
}
.user.name{
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
}
.user-profession {
    font-size: 24px;
    line-height: 13px;
}
.contact-info{
    padding: 3rem;
}
.contact-info p, .text-biography {
    font-size: 16px;
    color: var(--brown); 
}
.minor-text {
    font-size: 14px;
    opacity: 0.5;
}
.blue-pills {
    border-radius: 60px;
    color: var(--white);
    background-color: var(--blue);
    padding: 8px 20px;
    margin: .5rem;
    display: inline-block;
}
.title-biography {
    color: var(--blue);
    font-weight: bold;
    font-size: 28px;
    line-height: 1.6;
}
