.profile {
    width: 50%;
    display: block;
    border: 1px solid grey;
    z-index: 60;
    background: white;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}
.subtitle-profile{
    font-size: 0.75em;
    color: #cecece; 
    margin-top: 30px;
}

.show-profile-wrapper {
    width: 100%;
    height: 100%;
    padding: 24px;
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%,  rgba(0, 0, 0, 0.5) 50%);
}

.header-profile {
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to bottom, var(--light-gray) 50%, var(--gray) 100% );
    color: var(--white);
}

.image-profile {
    display: inline-block;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 100%;
    background-color: rgba(210,210,210,.7);
}
.header-title {
    display: inline-block;
}
.user.name{
    font-weight: bold;
    font-size: 1.25em;
    line-height: 36px;
}
.user-profession {
    font-size: 24px;
    line-height: 13px;
}
.tags-label {
    color:#cecece
}
.contact-info{
    padding: 3rem;
}
.contact-info p, .text-biography {
    font-size: 1em;
}
.minor-text {
    font-size: 14px;
    opacity: 0.5;
}
.blue-pills {
    border-radius: 60px;
    color: var(--white);
    background-color: var(--blue);
    padding: 4px 10px;
    margin-left: 4px;
    margin-top: 8px;
    display: inline-block;
    font-size: 0.81em;
}
.title-biography {
    margin-top: 30px;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.6;
}
.wrapper {
height: 100vh;
width: 100vw;
position: fixed;
top:0;
left: 0;
background-color: rgba(0, 0, 0, .8);
z-index: 60;
}
.svg {
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 18px;
    border-radius: 100%;
    box-shadow: 1px 1px 5px 1px;
    background-color: rgba(0, 0, 0,.3)
}

@media (max-width: 768px){
   .profile {
       width: 100vw;
    } 
}