.div-usercard { 
    margin: 20px;
    align-items: center;
    min-width: 339px;
    min-height: fit-content;
    max-width: 350px;
    max-height: 210px;
    flex-direction: column;
    padding: 20px;
    box-shadow: 3px 3px 17px -2px lightgrey;
    border-radius: 12px;
    display: grid;   
}
.container-usercard {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.user { 
    display: flex;
    flex-direction: column;
}
.userinfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
  .skill-name {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    border-radius: 20px;
    width: auto;
    text-transform: uppercase;
    padding: .3rem .8rem;
    margin: 0 .5rem .5rem 0;
}

.skill{
    margin: 10px 0px -5px 5px;
    font-size: 14px;    
}

main .skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.links-fixos{
    float:right;
    z-index:0;
    position:fixed;
    bottom:20px;
    right:15px;
    border: none;
      }

@media (min-width: 560px){
    .div-usercard {
        max-width: none;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .container-usercard {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 100px;
    }
    .links-fixos{
        top: 20px;
    }
}

/* @media (min-width: 992px){
    .container-usercard {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 33px;
    }
    .links-fixos{
        z-index: 0;
        position: fixed;
        top: 20px;
        right: 15px;
        border: none;
    }
    
} */