/* .card--blue{
    color: var(--white);
    background-color: var(--blue);
    border: none;
    padding: .5rem 1.5rem;
    border-radius: 20px;
    width: fit-content;
} */
.div-usercard { 
    margin: 20px;
    align-items: center;
    min-width: 339px;
    min-height: 210px;
    max-width: 350px;
    max-height: 210px;
    flex-direction: column;
    padding: 20px;
    box-shadow: 3px 3px 17px -2px lightgrey;
    border-radius: 7px;
    display: grid;   
}
.container-usercard {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.userinfo {
    margin: 20px;
}

.gradient {
    background-image:
      linear-gradient(
        to top, 
        rgba(206, 206, 206, 0.51),
        #ffffff, 
        #ffffff, 
        rgba(206, 206, 206, 0.51)
      );
  }

  .skill-name {
    color: var(--white);
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    background-color: var(--blue);
    height: 30px;
    border-radius: 20px;
}

.skill{
    margin-top: 24px;
    margin-bottom: 64px;
    font-size: 14px;
    
}

main .skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}