.container-usercard {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width:100%;
    padding: 0 20px;
}

.infolist{
    width: 100%;
    display: flex;
    align-items: unset;
    justify-content: space-around;
    color: var(--gray);
    margin-top: 30px;
}

.infolist-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex: 1 50%;
}

.div-usercard { 
    margin: 8px 0px;
    min-height: 215px;
    height: auto;
    width: 85vw;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    background: #f2f2f2;
    display: grid;
}

.container-list {
    width: 100%;
    min-width: 40vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.userinfo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.user-info-img {
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
    object-fit: cover;
}
.p-name {
    margin-bottom: 2px;
    font-size: .7em;
    font-weight: 700;
}
.p-city {
    margin-bottom: 2px;
    font-size: 14px;
    color: var(--gray);
}
.p-job {
    margin-bottom: 0;
    color: var(--gray);
    font-size: 13px;
}
  .skill-name {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    border-radius: 20px;
    width: auto;
    text-transform: uppercase;
    padding: .3rem .8rem;
    margin: 0 .5rem .5rem 0;
    white-space: nowrap;
    font-size: .8em;
}

.skill{
    margin: 10px 0px -5px 5px;
    font-size: 14px;    
}

main .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 450px;
}


.input-container--icon {
    position: absolute;
    left: 15px;
    top: 15px;
}

.input-container--search::placeholder {
    color: rgb(136, 136, 136);
    opacity: 1; /* Firefox */
  }
  
.input-container--search:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: rgb(136, 136, 136);
}

.input-container--search::-ms-input-placeholder { /* Microsoft Edge */
color: rgb(136, 136, 136);
}

.input-container--search{
    box-shadow: 3px 3px 17px -2px lightgrey;
    border-radius: 30px;
    height: 54px;
    margin-top: 20px;
    padding: .2rem 1.2rem .2rem 3rem;
    width: -webkit-fill-available;
}
.title-search {
    padding: 10px 26px 15px 30px;
    font-size: 18px;
    white-space: break-spaces;

}
.links-fixos{
    z-index: 0;
    margin-top: 25px;
    border: none;
    height: fit-content;
}

.links-fixos p {
    display: none;
}




@media (min-width: 768px){
    .div-usercard {
        min-height: unset;
        width: 100%;
        max-width: 75vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .container-usercard {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .container-usercard {
        justify-content: flex-start;
        align-items: flex-start;
    }
    .links-fixos{
        order: 2;
        width: 230px;
        margin: 0 20px;
    }
    .links-fixos p {
        display: block;        
        font-weight: 600;
    }
    .title-search {
        padding: 0px 0px 65px 22px;
        font-size: 28px;
        order: 3;
    }

    
}