
.div-usercard { 
    margin: 20px;
    align-items: center;
    min-width: 339px;
    min-height: fit-content;
    max-width: 350px;
    max-height: 210px;
    flex-direction: column;
    padding: 20px;
    box-shadow: 3px 3px 17px -2px lightgrey;
    border-radius: 12px;
    display: grid;   
}
.container-usercard {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.user { 
    display: flex;
    flex-direction: column;
}
.userinfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* .gradient {
    background-image:
      linear-gradient(
        to top, 
        rgba(206, 206, 206, 0.51)0%,
        #ffffff, 
        #ffffff, 
        #ffffff, 
        #ffffff, 
        rgba(206, 206, 206, 0.51)100%
      );
  } */

  .skill-name {
    color: var(--white);
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    background-color: var(--blue);
    height: 30px;
    border-radius: 20px;
    width: auto;
}

.skill{
    margin: 10px 0px -5px 5px;
    font-size: 14px;
    
}

main .skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.links-fixos{
    float:right;
    z-index:0;
    position:fixed;
    bottom:20px;
    right:15px;
    border: none;
      }
