.map-container{
    position:relative;
}

.map-input{
    position: absolute;
    top: 8vh;
    z-index: 9999;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-container{
    width: 70vw;
    max-width: 600px;
    position: relative;
}

.input-container--search{
    border-radius: 30px;
    height: 54px;
    padding: .2rem 1.2rem .2rem 3rem;
    width: -webkit-fill-available;
}

.input-container--icon{
    position: absolute;
    left: 15px;
    top: 17px;
}

.map-toggles{
    z-index: 9998;
    position: absolute;
    top: 5px;
    right: 15px;
    border: none;
}
.btn-toggle-map{
    background-color: var(--white);
    border: none;
    padding: .5rem 1.5rem .5rem 2rem;
    border-radius: .6rem;
    transform: translate(-33px, 0px);
}

.btn-toggle-map--blue{
    color: var(--white);
    background-color: var(--blue);
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: .6rem;
    z-index: 9999;
}

.map-display{
    height: 100vh;
    width: 100%;
}

.gm-style-iw.gm-style-iw-c{
    min-height: 222px;
    width: 260px;
}

.gm-style-iw-d{
    overflow: unset;
}
button.gm-ui-hover-effect{
margin: 10px !important;
}

.info-window{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: -webkit-fill-available;
    width:100%;
    padding-bottom: .4rem;
    padding-left: 0.4rem;
    font-size: 12px;
}

.agent-info {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 1rem;
}
  
.agent-info--img {
    border:none;
    border-radius: 100%;
    width: 57px;
    height: 57px;
    margin-right: 20px;
}
  
.agent-info--text1 {
    margin-bottom: 2px;
    font-size: 16px;
    font-weight: 700;
}
  
.agent-info--text2 {
    margin-bottom: 2px;
    font-size: 14px;
    color: var(--gray);
}
  
.agent-info--text3 {
    margin-bottom: 0;
    color: var(--gray);
}
  
.agent-skills {
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    font-weight: 400;
    flex: 1;
}

.agent-skills-item {
    background-color: var(--blue);
    border-radius: 20px;
    padding: .3rem .8rem;
    color: var(--white);
    margin: 0 .5rem .5rem 0;
    text-transform: uppercase;
    height: 23px;
}
  
.agent-plus {
    text-transform: uppercase;
    color: var(--blue);
    font-weight: 700;
    letter-spacing: 2px;
}

.agent-plus:hover {
    color: var(--blue);
}

