.nav-container {
    display: flex;
    width: 100%;
    top: 0;
    justify-content: space-between;
    align-items: center;
    background-color: var(--eggplant);
    height: 50px;
}

.nav-img {
    height: 100%;
    cursor: pointer;
    padding: .5rem;
}
.logged-side .profile-img {
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

.nav-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav-container .no-auth-side li{
    cursor: pointer;
    font-weight: 700;
}

.nav-container ul li{
    cursor: pointer;
    font-weight: 700;
    padding: 0 10px;
}

.nav-container ul a:hover{
    text-decoration: none;
    color:var(--darker-blue);
}

.header-container {
    display: flex;
    height: 50px;
    width: 100vw;
    justify-content: space-between;
}

.create-account {
    background-color: #DF4545;
    padding: 0;
    font-size: .8em;
    height: 30px;
    width: 100%;
    max-width: 200px;
}

/* ul.auth-side {
    background-color: #3CBDB4;
    padding: 0 20px;
}
ul.logged-side {
    background-color: #3CBDB4;
    padding: 0 20px;
} */

.make-login {
    width: 100%;
    max-width: 180px;
    background-color: transparent;
    margin: 0;
    border: 2px solid var(--white);
    border-radius: 5px;
    padding: .5em;
    font-size: .8em;
    color: var(--white);
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}

@media (max-width:992px){
    .nav-container .no-auth-side {
      visibility: hidden;
    } 
    .create-account {
      display: none;
    } 
  }