.snackbar {
  min-width: 250px;
  right: 30px;
  background-color: var(--white);
  color: var(--brown);
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  font-size: 1rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
  -webkit-animation: fadeout 0.6s;
  animation: fadeout 0.6s;
  animation-delay: 5s;
}

.snackbar.show {
  visibility: visible; 
 -webkit-animation: fadein 0.5s;
 animation: fadein 0.5s;
}

.toast-icon {
  width: 20px;
  margin-right: 10px;
}

/* Animações pra snackbar */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}