@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    margin:0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root{
    --blue: #4ACAC1;
    --darker-blue: #3FACA4;
    --green: #7DC9C0;
    --darker-green: #5E9690;
    --red: #DF4545;
    --darker-red: #B42E2E;
    --white: #f0f0f5;
    --brown: #3B2737;
}

body {
    font: 400 16px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

/* input, button, textarea {
    font: 400 18px Roboto, sans-serif;
}

button {
    cursor: pointer;
} */
