@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    margin:0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root{
    --blue: #4ACAC1;
    --darker-blue: #3FACA4;
    --green: #7DC9C0;
    --darker-green: #5E9690;
    --red: #DF4545;
    --darker-red: #B42E2E;
    --gray-02: #BFBFBF;
    --white: #fff;
    --brown: #3B2737; 
    --eggplant: #4B3046;
    --off-white: #f9f9f9;
    --light-gray: #e0e0e0;
    --lighter-gray: #e5e5e5;
    --gray: #888;
}

body {
    font: 400 16px Roboto, sans-serif;
    background: var(--white);
    -webkit-font-smoothing: antialiased;
    position: relative;
    margin: 0 auto;
}

button {
  position: relative;
  cursor: pointer;
  font-weight: bold;
  margin:10px;
  font-family: 'Roboto Condensed', sans-serif;
}

button:focus {
    outline: none;
    box-shadow: none;
}

label {
    margin-bottom: 0;
}

.heading-secondary{
    margin-bottom: 1.5rem;
    font-size: 27px;
}

input {
    border: 0;
}
